body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.pet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.pet-card {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 80%;
}

.pet-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.pet-card h2 {
    margin: 10px 0 0 0;
    font-size: 15px;
    text-align: center;
}

.pet-card p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}

.pet-card a {
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit text color */
    display: block; /* Ensure the link takes up the whole card area */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}